#cardfoto{
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

#selengkapnya{
    text-decoration: none;
    color: black;
    margin-left: 900px;
}

.bg-blue {
    background-color: #003567;
}

.bg-blue-gradient {
    background: linear-gradient(112.26deg, #003567 0.79%, #00203E 103.66%);
}

.bg-yellow-ition {
    background: rgba(255, 222, 39, 0.2);
}

.button {
    background-color: #FFDE27;
    border: none;
    border-radius: 10px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.button-lomba {
    background-color: #FFDE27;
    border: none;
    border-radius: 10px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.button-katalog {
    background-color: #FFDE27;
    border: none;
    border-radius: 0px 0px 26px 26px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.white-button {
    background-color: white;
    border-color: #FFDE27;
    border-radius: 10px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.fototestimoni{
    border-radius: 50%;
    width: 150px;
    height: 150px;
    overflow: hidden;
}

.text-blue-2 {
    color: #003567;
}

.text-white {
    color: white;
}