.batas-colomn{
	max-width: 500px;
}

.blue-box{
	padding: 50px;
	width: 120px;
	height: 130px;
	margin-left: 163px;
	margin-top: -136px;
	top: 0;
}

.card-button{
	width: 20rem;
	margin-left: -16px;
}
.button-lomba{
	background-color: #FFDE27;
	text-align: center;
	width: 12rem;
    border: none;
    border-radius: 10px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}


.card-place{
	width: 700px;
}

.filter-place{
	position:absolute;
	background: #F4F4F4;
	z-index: 99;
	width: 300px;
	height: 700px;
	margin-left: 750px;
	top: 0;
	margin-top: 1173px;
}

.form-group{
	color:#003567;
}



